<%- include("templates/header") %>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-6 col-lg-5">
                <h2 class="mb-4 text-center">Verify Your Identity</h2>
                <form action="/changePasswordSubmit" method="post">
                    <div class="mb-3">
                        <label class="form-label"><strong>Find your security question</strong></label>
                        <%- include("templates/security-questions") %>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>Provide the answer to your question</strong></label>
                        <input name="answer" type="text" class="form-control" required>
                    </div>
                    <button class="btn btn-primary w-100">
                        Submit
                    </button>
                </form>
                <div class="alert alert-danger mt-4 shadow-sm" role="alert">
                    <strong>IMPORTANT: In order to change your password, we need to confirm your identity!</strong>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>