<%- include("templates/header", {title: title, user: user}) %>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-6 col-lg-5">
                <h2 class="mb-4 text-center">Change Password</h2>
                <form action="/changePasswordFormSubmit" method="post">
                    <div class="mb-3">
                        <label class="form-label"><strong>Enter your new password</strong></label>
                        <input name="newPassword" type="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>Confirm your new password</strong></label>
                        <input name="confirmPassword" type="password" class="form-control" required>
                    </div>
                    <button class="btn btn-primary w-100">
                        Submit
                    </button>
                </form>
                <%- include("templates/password-requirements") %>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>