<%- include("templates/header") %>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-6 col-lg-5">
                <h2 class="mb-4 text-center">Verify Your Identity</h2>
                <form action="/changePasswordSubmit" method="post">
                    <div class="mb-3">
                        <label class="form-label"><strong>Find your security question</strong></label>
                        <select name="question" class="form-select" required>
                            <option value="" selected disabled>Select question</option>
                            <option value="What was your first pet’s name?">What was your first pet’s name?</option>
                            <option value="What city were you born in?">What city were you born in?</option>
                            <option value="What was your first school?">What was your first school?</option>
                            <option value="What was the name of your best friend?">What was the name of your best friend?</option>
                            <option value="What street did you grow up on?">What street did you grow up on?</option>
                            <option value="What was the name of your first employer?">What was the name of your first employer?</option>
                            <option value="What was the name of your favorite teacher?">What was the name of your favorite teacher?</option>
                            <option value="What country do you want to visit?">What country do you want to visit?</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>Provide the answer to your question</strong></label>
                        <input name="answer" type="text" class="form-control" required>
                    </div>
                    <button class="btn btn-primary w-100">
                        Submit
                    </button>
                </form>
                <div class="alert alert-danger mt-4 shadow-sm" role="alert">
                    <strong>IMPORTANT: In order to change your password, we need to confirm your identity!</strong>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>