<%- include("templates/header") %>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-6 col-lg-5">
                <h2 class="mb-4 text-center">Change Password</h2>
                <form action="/changePasswordFormSubmit" method="post">
                    <div class="mb-3">
                        <label class="form-label"><strong>Enter your new password</strong></label>
                        <input name="newPassword" type="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>Confirm your new password</strong></label>
                        <input name="confirmPassword" type="password" class="form-control" required>
                    </div>
                    <button class="btn btn-primary w-100">
                        Submit
                    </button>
                </form>
                <div class="card shadow-sm mt-4">
                    <div class="card-body">
                        <h6 class="card-title mb-3 text-primary">
                            <strong>Password must:</strong>
                        </h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item border-start border-3 ps-3">
                                Contain 8 to 20 characters
                            </li>
                            <li class="list-group-item border-start border-3 ps-3">
                                Contain a lowercase letter
                            </li>
                            <li class="list-group-item border-start border-3 ps-3">
                                Contain an uppercase letter
                            </li>
                            <li class="list-group-item border-start border-3 ps-3">
                                Contain at least one number
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>