<%- include("templates/header") %>
    <div class="alert alert-danger" role="alert">
        <%= message %>
    </div>
    <a href='<%= link %>' class="btn btn-secondary">Try again</a>
<%- include("templates/footer") %>