<%- include("templates/header") %>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-6 col-lg-5">
                <h2 class="mb-4 text-center">Create Account</h2>
                <form action="/signupSubmit" method="post">
                    <div class="mb-3">
                        <label class="form-label"><strong>Name</strong></label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>Email</strong></label>
                        <input name="email" type="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>Password</strong></label>
                        <input name="password" type="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>Choose a security question</strong></label>
                        <%- include("templates/security-questions") %>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><strong>Provide an answer to the question</strong></label>
                        <input name="answer" type="text" class="form-control" required>
                    </div>
                    <button class="btn btn-primary w-100">
                        Submit
                    </button>
                    <p class="mt-3 text-center">
                        Already have an account?
                        <a href="/login">Log in</a>
                    </p>
                </form>
                <%- include("templates/password-requirements") %>
                <div class="alert alert-danger mt-4 shadow-sm" role="alert">
                    <strong>IMPORTANT: In order to change your password later on, you'll need to remember your security question and its answer, so write them down in a safe place!</strong>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>