<%- include("templates/header") %>
    <div class="alert alert-success" role="alert">
        <%- include("templates/message-list", {message: message}) %>
    </div>
    <a href='<%= link %>' class="btn btn-secondary">Back to Profile</a>
<%- include("templates/footer") %>