<div class="card shadow-sm mt-4">
    <div class="card-body">
        <h6 class="card-title mb-3 text-primary">
            <strong>Password must:</strong>
        </h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item border-start border-3 ps-3">
                Contain 8 to 20 characters
            </li>
            <li class="list-group-item border-start border-3 ps-3">
                Contain a lowercase letter
            </li>
            <li class="list-group-item border-start border-3 ps-3">
                Contain an uppercase letter
            </li>
            <li class="list-group-item border-start border-3 ps-3">
                Contain at least one number
            </li>
        </ul>
    </div>
</div>