<select name="question" class="form-select" required>
    <option value="" selected disabled>Select question</option>
    <option value="What was your first pet’s name?">What was your first pet’s name?</option>
    <option value="What city were you born in?">What city were you born in?</option>
    <option value="What was your first school?">What was your first school?</option>
    <option value="What was the name of your best friend?">What was the name of your best friend?</option>
    <option value="What street did you grow up on?">What street did you grow up on?</option>
    <option value="What was the name of your first employer?">What was the name of your first employer?</option>
    <option value="What was the name of your favorite teacher?">What was the name of your favorite teacher?</option>
    <option value="What country do you want to visit?">What country do you want to visit?</option>
</select>